PORT=3008
CORS_ORIGIN=http://localhost:3000,http://localhost:8080,http://localhost:5000
OPENAI_API_KEY="sua_chave_da_openai_aqui"
GOOGLE_MAPS_API_KEY="sua_chave_do_google_maps_aqui"

PYTHON_COMMAND=python
